body {
    text-align: center;
    }
    h1 {
        font-size: 40px;
        font-family: inherit;
        font-weight: 300;
    }
    #brid {
        color:maroon;
        background-color: magenta;
    }
    #flower {
        color:mediumblue;
        background-color: rgb(211, 149, 252);
    }
    .line {
        height: 6px;
        background-color: black;
        width: 70px;
        margin: 8px auto;
    }